<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>16874042850-vb4tg3a3tfi541ojpo635aokc11688f5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.16874042850-vb4tg3a3tfi541ojpo635aokc11688f5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>16874042850-7n2qj6c672v4ib788rhfacgi2et0b0ja.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBhsw_NhoMmdD7FY236MSplqPn9WrE9_VU</string>
	<key>GCM_SENDER_ID</key>
	<string>16874042850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.naiyo24.puja24</string>
	<key>PROJECT_ID</key>
	<string>puja24-ea003</string>
	<key>STORAGE_BUCKET</key>
	<string>puja24-ea003.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16874042850:ios:2e7ca3ec3915dfe71535bb</string>
</dict>
</plist>
